@import "tailwindcss";

body{
    background-color: var(--color-primary);
}

@theme{
    --color-primary: #081229;
    --color-secondary: #191d3a;
    --color-tertiary: #ec5990;
    --color-textColor: #ffffff;
    
}